**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Sadaf Jamali-Hanjani
- Emilie Joseph
- Raisa Shafi
- Janhavi Shah
- Austria Wang

# Research Question

How do the marriage and divorce rates in the United States impact the financial success of romantic comedies spanning from 1990 to 2022? Specifically, is there a discernible trend in the profitability, measured by a 20% profit margin compared to the film's original budget, of movies falling under the genre of romantic comedies, identified by keywords such as 'romance', 'love', 'fate', 'humor', 'meet cute', 'chemistry', 'heartwarming', 'feel good', 'relationships', and 'laughter' across different decades?

## Background and Prior Work

Marriage and divorce rates in the United States have long been subjects of interest, not only for sociologists and demographers but also for those in the entertainment industry. The portrayal of romantic relationships in films, particularly romantic comedies, often reflects societal norms, values, and attitudes towards love and marriage. Understanding the fluctuations in marriage and divorce rates can provide insights into how these changes might influence the themes, narratives, and ultimately, the financial success of romantic comedies.

Several studies have explored the relationship between societal trends, including marriage and divorce rates, and their impact on media content. For instance, research by Banjo (2002) suggests that media consumption, especially of romanticized content, can foster unrealistic expectations and perceptions about romantic relationships, potentially influencing individuals' attitudes and behaviors in their own relationships<sup>[1]</sup>.

Ray (2022) highlights the concept of relational schemas, which are cognitive representations of how individuals expect relationships to function. The influence of romantic movie media on the development of these schemas suggests that individuals with high exposure to such media may internalize and seek to replicate the relationship patterns depicted in films<sup>[3]</sup>. Larson's (1988) adds onto this by stating that when individuals consume romantic comedies, they are often presented with idealized depictions of romantic partners who effortlessly embody multiple roles and fulfill all relationship needs. This can further perpetuate unrealistic expectations within viewers' own relationships, potentially leading to dissatisfaction or disillusionment when reality fails to meet the standards set by media portrayals, and eventually divorce<sup>[2]</sup>.
However, while these studies provide valuable insights into the individual components of romantic comedies and societal trends, there is a gap in research specifically examining the intersection between marriage and divorce rates and the financial success of romantic comedies over time.

In this study, we aim to fill this gap by analyzing the profitability of romantic comedies spanning from 1990 to 2022 in relation to fluctuations in marriage and divorce rates in the United States. By identifying keywords associated with romantic comedies and using box office data to measure profitability, we seek to uncover any discernible trends or correlations between societal relationship dynamics and the commercial success of romantic comedies. This analysis will contribute to a deeper understanding of how societal changes impact media consumption patterns and the financial performance of films within the romantic comedy genre.


<sub>References:</sub>

<sub>[1] - Banjo, O. (n.d.). (PDF) the effect of media consumption on the perception of romantic relationships. https://www.researchgate.net/publication/283703576_The_Effect_of_Media_Consumption_on_the_Perception_of_Romantic_Relationships</sub>

<sub>[2] - Larson, J. H. (1988). The interplay of marriage and friendship. In W. H. Jones & D. Perlman (Eds.), Advances in personal relationships (Vol. 1, pp. 277–311). Jessica Kingsley Publishers. </sub>

<sub>[3] - Ray, C. R. (n.d.). (thesis). Romantic media exposure’s effect on relationship beliefs and expectations. </sub>

# Hypothesis


Our team's hypothesis explores the relationship between the financial success of romantic comedies and divorce and marriage rates from 1990 to 2022. Our prediction is that an increase in divorce rates will lower the financial success of romantic comedies, if there is a decrease in divorce rates and an increase in marriages the profitability will be higher. To identify the success of romantic comedies we will measure a 20% profit margin over the film's original budget. For our divorce and marriage data, we will use information from the CDC, 1990 to 2022 divorce and marriage rates which are organized by state. This helps us understand what influence divorce and marriage have on the financial success of romantic comedies.

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name: TMDB 5000 Movie Dataset
  - Link to the dataset: https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata
  - Number of observations: 1034416
  - Number of variables: 24
- Dataset #2 
  - Dataset Name: Marriage Rate by State in the United States from 1990-2022
  - Link to the dataset: https://www.cdc.gov/nchs/data/dvs/marriage-divorce/state-marriage-rates-90-95-00-22.pdf
  - Number of observations: 51
  - Number of variables: 26
- Dataset #3 
  - Dataset Name: Divorce Rate by State in the United States from 1990-2022
  - Link to the dataset: https://www.cdc.gov/nchs/data/dvs/marriage-divorce/state-divorce-rates-90-95-00-22.pdf
  - Number of observations: 51
  - Number of variables: 26


The TMDB Movies Dataset features top grossing romantic comedy movies from 1990 to 2022. We will be looking at features such as MPAA ratings, total gross profit, inflation-adjusted gross profits, tickets sold, market share, and gross profits by the year. We are also using the dataset to extract variables such as keywords, taglines, budget, revenue, release date and genre to compare to the Marriage and Divorce Datasets.

The Centers for Disease Control and Prevention have released a list for the Change in the Reporting of Marriage and Divorce Statistics. This dataset takes a look at information of the rates of divorces and marriages at both the national and state levels. Tracking data from year 1990 until 2022, we can break down important trends such as the percentage of divorces and marriages, by state, year, and by population.

We plan to analyze trends between popular romantic comedy gross profits and prevalence over the past 2 decades, along the USA’s marriage and divorce rate trends to see if there is a relationship between the success of romantic comedies based on the populations of people that have been married or divorces. All three of our datasets will be used to see if we can find a trend line between the question that we are proposing.

## The Movie Database

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('TMDB_movie_dataset_v11.csv')

In [3]:
movies.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034416 entries, 0 to 1034415
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1034416 non-null  int64
 1   title                 1034404 non-null  object
 2   vote_average          1034416 non-null  float64
 3   vote_count            1034416 non-null  int64
 4   status                1034416 non-null  object
 5   release_date          903003 non-null   object
 6   revenue               1034416 non-null  int64
 7   runtime               1034416 non-null  int64
 8   adult                 1034416 non-null  bool
 9   backdrop_path         287427 non-null   object
 10  budget                1034416 non-null  int64
 11  homepage              111892 non-null   object
 12  imdb_id               579601 non-null   object
 13  original_language     1034416 non-null  object
 14  original_title        1034404 non-null  object
 15  overview              843493 non-null   object
 16  popularity            1034416 non-null  float64
 17  poster_path           737623 non-null   object
 18  tagline               147700 non-null   object
 19  genres                644923 non-null   object
 20  production_companies  485613 non-null   object
 21  production_countries  604487 non-null   object
 22  spoken_languages      617059 non-null   object
 23  keywords              294691 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 182.5+ MB

In [5]:
movies.describe()

,id,vote_average,vote_count,revenue,runtime,budget,popularity
count,1.034416e+06,1.034416e+06,1.034416e+06,1.034416e+06,1.034416e+06,1.034416e+06,1.034416e+06
mean,6.814679e+05,2.043288e+00,2.073252e+01,7.274877e+05,4.990858e+01,2.849545e+05,1.315573e+00
std,3.649160e+05,3.088755e+00,3.338199e+02,1.811696e+07,6.208999e+01,5.083661e+06,7.947222e+00
min,2.000000e+00,0.000000e+00,0.000000e+00,-1.200000e+01,-2.800000e+01,0.000000e+00,0.000000e+00
25%,3.803515e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-01
50%,6.827315e+05,0.000000e+00,0.000000e+00,0.000000e+00,2.900000e+01,0.000000e+00,6.000000e-01
75%,1.000884e+06,5.000000e+00,1.000000e+00,0.000000e+00,9.000000e+01,0.000000e+00,8.950000e-01
max,1.286606e+06,1.000000e+01,3.449500e+04,3.000000e+09,1.440000e+04,9.000000e+08,2.994357e+03

In [6]:
movies.drop_duplicates(inplace=True)

In [7]:
movies.drop(columns=['id', 'status','adult','backdrop_path','spoken_languages','production_countries','homepage','imdb_id','production_companies','original_language','original_title','popularity','poster_path'], inplace=True)

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1034059 entries, 0 to 1034415
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   title         1034047 non-null  object
 1   vote_average  1034059 non-null  float64
 2   vote_count    1034059 non-null  int64
 3   release_date  902858 non-null   object
 4   revenue       1034059 non-null  int64
 5   runtime       1034059 non-null  int64
 6   budget        1034059 non-null  int64
 7   overview      843244 non-null   object
 8   tagline       147657 non-null   object
 9   genres        644820 non-null   object
 10  keywords      294611 non-null   object
dtypes: float64(1), int64(4), object(6)
memory usage: 94.7+ MB

## Marriage Rate in the United States from 1990-2022

In [9]:
marriage = pd.read_csv('marriage.csv')

In [10]:
marriage.head()

,State,2022,2021,2020,2019,2018,2017,2016,2015,2014,...,2007,2006,2005,2004,2003,2002,2001,2000,1995,1990
0,Alabama,7.3,7.6,7.2,6.7,6.8,7.0,7.1,7.4,7.8,...,8.9,9.2,9.2,9.4,9.6,9.9,9.4,10.1,9.8,10.6
1,Alaska,6.5,6.3,5.7,6.5,6.7,6.9,7.1,7.4,7.5,...,8.5,8.2,8.2,8.5,8.1,8.3,8.1,8.9,9.0,10.2
2,Arizona,5.8,5.4,4.9,5.3,5.5,5.8,5.9,5.9,5.8,...,6.4,6.5,6.6,6.7,6.5,6.7,7.6,7.5,8.8,10.0
3,Arkansas,7.9,8.2,7.8,8.4,8.9,9.5,9.9,10.0,10.1,...,12.0,12.4,12.9,13.4,13.4,14.3,14.3,15.4,14.4,15.3
4,California,5.7,5.2,3.2,5.7,6.0,6.3,6.5,6.2,6.4,...,6.2,6.3,6.4,6.4,6.1,6.2,6.5,5.8,6.3,7.9

In [11]:
marriage.describe()

,2022,2021,2020,2019,2018,2017,2016,2015,2012,2011,2010,2009,2008,2007,2005,2004,1995,1990
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,6.776471,6.645098,5.764706,6.692157,7.019608,7.309804,7.429412,7.472549,7.527451,7.615686,7.619608,7.535294,7.784314,8.182353,8.684314,8.984314,10.343137,11.588235
std,3.194282,3.187997,2.559674,3.107593,3.198188,3.389941,3.369706,3.714086,4.354771,4.595231,4.782929,5.049706,5.382801,6.242586,7.431376,8.019760,10.922678,12.674062
min,3.700000,4.400000,3.200000,4.900000,5.100000,5.500000,5.600000,5.300000,4.900000,4.800000,4.900000,4.700000,4.000000,4.200000,4.100000,5.200000,6.100000,7.100000
25%,5.500000,5.250000,4.500000,5.350000,5.700000,5.950000,6.100000,6.200000,5.800000,5.850000,5.800000,5.800000,5.950000,6.150000,6.500000,6.500000,7.300000,8.200000
50%,6.100000,5.900000,5.300000,6.000000,6.400000,6.800000,6.900000,6.900000,6.800000,6.800000,6.800000,6.600000,6.800000,7.000000,7.000000,7.400000,8.400000,9.500000
75%,7.200000,7.050000,6.000000,7.050000,7.100000,7.250000,7.400000,7.400000,7.350000,7.650000,7.400000,7.400000,7.800000,7.800000,8.250000,8.450000,9.900000,10.650000
max,25.900000,26.200000,21.000000,25.900000,26.700000,28.600000,28.400000,31.000000,35.100000,36.900000,38.300000,40.300000,42.300000,48.600000,57.400000,62.100000,85.200000,99.000000

## Divorce Rate in the United States from 1990-2022

In [12]:
divorce = pd.read_csv('divorce.csv')

In [13]:
divorce.head()

,State,2022,2021,2020,2019,2018,2017,2016,2015,2014,...,2007,2006,2005,2004,2003,2002,2001,2000,1995,1990
0,Alabama,3.2,3.6,3.7,3.6,3.7,3.7,3.8,3.9,3.8,...,4.5,4.9,4.9,4.9,5.2,5.4,5.4,5.5,6,6.1
1,Alaska,3,3.1,3.2,3.6,3.7,3.6,3.9,4.1,4,...,4.3,4.2,4.3,4.3,3.9,4.6,4.3,3.9,5,5.5
2,Arizona,2.3,2.7,2.9,2.9,3,3.5,3.4,3.6,3.9,...,4,4,4.2,4.3,4.4,4.8,4,4.6,6.2,6.9
3,Arkansas,3.5,3.6,3.6,4,4.1,3.7,3.9,4.8,4.8,...,5.9,5.8,6,6.1,6,6.2,6.2,6.4,6.3,6.9
4,California,---,---,---,---,---,---,---,---,---,...,---,---,---,---,---,---,---,---,---,4.3

In [14]:
divorce.describe()

,State,2022,2021,2020,2019,2018,2017,2016,2015,2014,...,2007,2006,2005,2004,2003,2002,2001,2000,1995,1990
count,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,51,51,51,51
unique,51,22,22,26,22,23,21,23,20,25,...,27,29,30,28,25,28,28,28,29,31
top,Alabama,2.3,2.6,---,---,---,---,---,2.8,2.8,...,---,---,---,---,3.2,3.4,3.2,3.9,5,5.5
freq,1,7,6,5,5,5,5,6,6,5,...,6,6,6,5,5,4,5,4,4,6

# Ethics & Privacy

1. **The Question:** Our question our group is trying to analyze is the relation between Romantic Comedies in film and Marriage and Divorce rates from 1990-2022 in the United States. This is why we are using The TMDb (The Movie Database) we found on Kaggle as well as the CDC's dataset released on Marriages and Divorces. We were interested in focusing on movies as our group enjoys film, specifically movies that contain the key words 'romance', 'love', 'fate', 'humor', 'meet cute', 'chemistry', 'heartwarming', 'feel good', 'relationships', and 'laughter' to signify the genre of a 'romantic comedy'. This question will track each movie’s financial budget, profit, audience rating, as well as genre to see if there is any correlation between romantic comedies and if there was an increase or decrease of marriages or divorces by year.
2. **The Implications:** The stakeholders for this questions would be the movie studios as we would create a tool to allow them to green light or forgo certain movie genres or scripts that they may be thinking about releasing. Some unintended consequences could be that after our final analysis we could find that Romantic Comedies are in fact linked to more Marriages which can lead the movies studios to release more or less depending on if they want the marriage rates to increase or decrease. This can become a detriment to writers, actors or directors as the movie studios would focus on movies or genres that only make them money rather than taking a chance on a movie ideas or scripts that are both original and innovating but may be less financially successful. Another implication would be that creativity would be stifled as the movie studios prioritize financial gains rather than take creative risks. 
3. **The Data:** The dataset that we are using is available on Kaggle which contains over 1 million movie titles. Their dataset is also uploaded daily which means that there is always a consistent stream of data being created and used. There are also around 24 columns that we will be able to use to analyze so our data will be able to compare different aspects of the successful or failure of each movie. The only main bias we would have to be hesitant in using would be the voter’s rating and the total voter’s count of each movie. Since the dataset takes the average of the rating of each movie given by the viewer it may be skewed data as not every viewer who watches a movie will give a movie a rating. We would have to take into account that the audience of who is actually rating the movies are those who are very interested in movies and will take the time to rate a movie they just watched rather than just casual viewers who may not review a movie they just watched. For the Marriage and Divorce datasets, it is only broken up by states so we do not have detailed information on what race, age or what the individuals financial status are. 
4. **Informed Consent:** Since our datasets are all for public use and do not gather any of the individual’s personal information, there is no risk for using this dataset. All of the other empirical data regarding the movie’s budget and financial return are all available to the public so there is very low risk in using this dataset to answer our question. The other issue is if Kaggle or the owner of this dataset decides to remove this dataset, we wouldn’t be able to continue to use it anymore.
5. **Privacy:** Nothing we are using from these datasets will create any risks regarding privacy as this data was gathered from public sources such as IMDB. The main privacy issue would be the voter’s column but this specific dataset is anonymized which means that there is no identifiable information on who the voter actually is. 
6. **Evaluation:** We will be able to evaluate our project after implementing a system to see if there is any pattern or correlation between highly successful romantic comedies during a specific year and if there was an increase of marriages or divorces. We will also take into account that if our outcome is not verifiable and that we see no patterns within the genre of romantic comedies we will have to make a conclusion based on that as well.
7. **Analysis:** We will need to spend time with our dataset to make sure that we are not just inferring things that do not correlate with each other. Taking into account financial success, audience ratings, and previous decades of movies being remade we will need to see empirical evidence in whether or not there is a pattern that the movie studios take when deciding if romantic comedies hold enough weight in persuading or dissuading individuals to get married. 
8. **Transparency and Appeal:** Our model would not be a black box model as we have the empirical data to back up our findings. Since all of our data is publicly available we would not be able to alter the numbers such as financial gain and profit. We also have each film’s budget which we will take into account when it comes to a movie’s true profitability or not. The data is transparent in the way that the data gathered can be found online and not based on our own personal biases or inferences.
9. **Continuous Monitoring:** We will be able to update our metrics as the dataset that we are using is constantly being updated. Once we configure a good system and code in order to to use and analyze this data we would be able to use it until the dataset is removed from Kaggle. We will be weary of potential unintended side effects such as if movie studios want to use our system to analyze the the future trends of the popularity of romantic comedies and whether or not people will more or less likely marry during a year where the top grossing movies were romance based.

# Team Expectations


Our group came to the consensus that in order to be successful in the completion of our project, we must hold ourselves and each other accountable in following the expectations we put in place.
* *Team Expectation 1:* Effective Communication: Communicate when things need to be completed so that we are able to maintain consistent progress. We will communicate through messages and discord to share our ideas. 
* *Team Expectation 2:* Weekly Meetings: Show up to every weekly meeting so we can touch base on the progress of our project. We will meet every Thursday at 11 am (time that we all agree on) on a video call to work together and discuss our progress.
* *Team Expectation 3:* Asking Questions: Reach out and give each other the support when things begin to feel stressful. We will text any questions to the group chat for anyone to answer. We can also save any major questions that need further discussion for the video call meetings.
* *Team Expectation 4:* Meeting Deadlines: Deadlines are important so make sure each individual's assigned portion is completed on time. We must set soft deadlines for specific parts of the project and all agree to complete our respective parts by the selected date.
* *Team Expectation 5:* Checking Work: We should check each other’s work as we progress with the project to make sure we don’t have any errors. Be open to changes if necessary.

# Project Timeline Proposal


| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 4/25  |  11 AM | Create a Discord group chat to communicate | Get to know each other, brainstorm different topics and vote by next meeting date | 
| 5/2  |  11 AM |  Choose topic and gather information about the topic to present | Draft project proposal | 
| 5/9  | 11 AM  |  Everyone provides datasets they have searched for prior (Genre and box office sales)  | Assign group members to their part and discuss any questions/confusions   |
| 5/16  | 11 AM  | Have data prepared and ready for the Checkpoint | Present the started work and review/edit together |
| 5/23  | 11 AM  | Prepare for the next checkpoint | Work on EDA and edit together for the checkpoint |
| 5/30  | 11 AM  | Complete EDA Checkpoint and have it ready to be reviewed | Start finalizing the final project and prepare additional information |
| 6/6  | 11 AM  | Review the Final Project | Add final touch ups before turning the project in on 6/12 |